/* 九宮格 */
.square{
    background-color: bisque;
    color: black;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 24px;
    font-weight: bold;
    margin-top: -1px; /* 讓每個格子上下貼合 */
    margin-right: -1px; /* 讓每個格子左右貼合 */
    line-height: 50px; /* 讓格子裡的OX置中 */
    float: left;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

/* 每一行的格子 */
.board-row:after {
    clear: both;
    content: '';
    display: table;
}

/* 遊戲整體排版 */
.game
{
    width: 500px;
    display: flex;
    flex-direction: column; /* 元件排列方向 */
    align-items: center; /* 垂直置中 */
    justify-content: center; /* 水平置中對齊 */
    margin: auto; /* 置中對齊 */
    border: 3px solid blue;
    border-radius: 30px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.game-tictactoe{
    display: flex;
    flex-direction: row;
}

/* 遊戲區背景 */
.game-board{
    background-color: lightgreen;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    font-size: 20px;
    height: 180px; /* 固定長度避免被拉長 */
}

/* 遊戲歷程按鈕 */
.state-Buttom{
    background-color: rgb(161, 103, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
}

/* 遊戲歷程按鈕-滑鼠懸停效果 */
.state-Buttom:hover{
    border: 2px solid rgb(200, 157, 255);
}